allow id 0403:6001 serial "" name "USB <-> Serial" hash "tyx9qLC6f1d6iP2r50GwIOk7+ecr0ilDrMTFyKGK9V8="
allow id 045e:02ea serial "3032363030343237393036363336" name "Controller" hash "ZDxa4Tr+9jjw63yo3XSVwOGX6+ytaiwGkMd+CRR/jVQ="
allow id 05e3:0751 serial "" name "USB Storage" hash "zNR+zUn0ym93v361FlHUH5YzvYcQ1nwBk0nBEyXdjY4="
allow id 067b:2303 serial "" name "USB-Serial Controller" hash "M1FZd2YYLUDOG0oT2FxeFwJdYzOrmwfdvT6lYc3mk3k="
allow id 0781:5591 serial "0101b5ecc211969e2c12ee6e6e5730b58832c11e902c2571e46a275cad20b07320a10000000000000000000043dc4ab0ff8020009155810758a9034a" name "Ultra USB 3.0" hash "xFHgMXQUcJJSS6TxZL8PVMMLGDsf8rvqzboMmXhtH6w="
allow id 0781:5591 serial "0101a3a1bd12a29caf8bd4705afbcbfa278699b37f4b10cf7b9215d34d844a08924b00000000000000000000a09f3a0200085c0091558107192b58cd" name " SanDisk 3.2Gen1" hash "5kLhE8xj8KpQAG8lKjYJYIvjArkJ7iVi3P2ryhlumJU="
allow id 0781:5591 serial "0101b5ecc211969e2c12ee6e6e5730b58832c11e902c2571e46a275cad20b07320a10000000000000000000043dc4ab0ff8020009155810758a9034a" name "Ultra USB 3.0" hash "7IjN0ckCzCfUq/sbclbj0DxjshfVEc2elz5gDggP5N0="
allow id 093a:2510 serial "" name "USB Optical Mouse" hash "38qZyBW+xRzXbM1YywhPJ8ds+QbGGYs21YGIfMhpItg="
allow id 0c45:64d2 serial "" name "Laptop_Integrated_Webcam_HD" hash "+EPKhUw6LCRVih2jQLOe5QI4dZHmvMa/9uWKv1g4owU="
allow id 0d8c:013c serial "" name "USB PnP Sound Device" hash "pOXp7gdkn91Gi9u3AxR04vMDUnb2uz0ZUV49FKzrWTA="
allow id 13fd:0840 serial "4D374743394C463337313520" name "External" hash "mKvhbgtGH7el4yavf32EtTQC3nnAdDX5p0lhZLBVOKs="
allow id 18d1:4ee0 serial "8ATY0QUK9" name "Pixel 3 XL" hash "46w3coEEveCfew0wik86FPe/yQgBn59EXzrYR+li2+0="
allow id 18d1:4ee0 serial "8ATY0QUK9" name "Pixel 3 XL" hash "6QLGwrm+Ly9JJ+AVliTOm+QFSN1aJuKU2YScJ+vhm10="
allow id 18d1:4ee0 serial "8BFY0YZ6N" name "Pixel 3 XL" hash "NCbCP9u5ltG0ezcNWNmz+rL/V/haVqLJ3+D2UWOMkWI="
allow id 18d1:4ee0 serial "8BFY0YZ6N" name "Pixel 3 XL" hash "APR3pkGAKIZfBoKcBXQGM8744JJylDj2++gyWEfMSWg="
allow id 18d1:4ee1 serial "8BFY0YZ6N" name "Pixel 3 XL" hash "Zi0N4nHyLB+sbwHsIcah4zHb3PVOoA+I4HTPXTzjhcM="
allow id 18d1:4ee2 serial "8ATY0QUK9" name "Pixel 3 XL" hash "UznFYOH5t2TfOzJqZ35Bvl7JfpqdpDJdH+Un/GxogFE="
allow id 18d1:4ee4 serial "8ATY0QUK9" name "Pixel 3 XL" hash "3b3VAQSwiCjqXh6ab0KaNw3yi0ES5R3aTosNHetPBZc="
allow id 18d1:4ee4 serial "8ATY0QUK9" name "Pixel 3 XL" hash "tKgpltsVS2j0kUegx4O9SDkQ9Peak3pOoOGLAlNdcCM="
allow id 18d1:4ee6 serial "8ATY0QUK9" name "Pixel 3 XL" hash "bbXWhg2ly93Nt7B8Db8Y23OHfRs1U9j02jgQBtpRCVo="
allow id 18d1:4ee7 serial "8ATY0QUK9" name "Pixel 3 XL" hash "a4oZ0vbjJfvLqnfHHD97BGTj0B43pWf5dV2r2vEPkto="
allow id 18d1:4ee7 serial "8BFY0YZ6N" name "Pixel 3 XL" hash "WqHq5g0bSpepjOBtMgtHHW8DKe8d82KrvXdh74VJLDc="
allow id 18d1:4ee9 serial "8ATY0QUK9" name "Pixel 3 XL" hash "P++KXp8CcUZMBz67E+48qyRWy6bBHKfAsVeUKaBEifA="
allow id 18d1:d001 serial "8ATY0QUK9" name "Pixel 3 XL" hash "sM6oMhHpLUngY3ww/79EzrdD2v/oGeSadT3/0ZoP6Lo="
allow id 1d6b:0002 serial "0000:00:1d.0" name "EHCI Host Controller" hash "WHBTxNaEoMGNSNc31KpFNSAeFF4HbLMQgSBqORlC6S8="
allow id 1d6b:0002 serial "0000:00:14.0" name "xHCI Host Controller" hash "jEP/6WzviqdJ5VSeTUY8PatCNBKeaREvo2OqdplND/o="
allow id 1d6b:0003 serial "0000:00:14.0" name "xHCI Host Controller" hash "3Wo3XWDgen1hD5xM3PSNl3P98kLp1RUTgGQ5HSxtf8k="
allow id 8087:07dc serial "" name "" hash "fjU6XNd4y5XwgDL9Jillv35ogtJYUi483qhA1gkeZy0="
allow id 8087:8000 serial "" name "" hash "XzcoqtfAn5qKbaJc8BOrBSChiNLXTB5vdJF8EZzSTh0="